{% extends "dashboard/base.html" %}
{% block content %}

<h1>{{ object.title }}</h1>
<p>By: &nbsp;&nbsp; <img src="{{ object.author.profile.image.url }}" width=40 height=40> &nbsp;{{ object.author }}</p>

<p>{{ object.body }}</p>
<br/><br/>
Tags:&nbsp; {{ object.tags.all|join:", " }}.
<br/><br/>
{% if comments %}
    Comments:
    <br/><br/>
    {% for comment in comments %}
        <strong>
            <img src="{{ comment.author.profile.image.url }}" width=20 height=20>&nbsp;
            {{ comment.author }} -
            {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/>
    {% endfor %}
    <br/><br/>
    <a href="{% url 'comment-all' object.id %}"> See all Comments </a>
{% endif %}
{% endblock content %}
