{% extends "dashboard/base.html" %}
{% block content %}

<h1>{{ object.title }}</h1>
<p>By {{ object.author }}</p>
<p>{{ object.body }}</p>
<br/><br/>
{% if comments %}
    Comments:
    <br/><br/>
    {% for comment in comments %}
        <strong>
            {{ comment.author }} -
            {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/>
    {% endfor %}
    <br/><br/>
    <a href="{% url 'comment-all' object.id %}"> See all Comments </a>
{% endif %}

{% endblock content %}
