{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
    <div class="container">
        <h1>Profile</h1>
        <img src="{{ user.profile.image.url }}" width=200 height=200> 
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>  
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            <button type="submit" class="btn btn-success">Update</button>
        </form> 
    </div>
{% endblock content %}
