{% extends "dashboard/base.html" %}
{% block content %}

<h1>{{ object.title }}</h1>
<p>By {{ object.author }}</p>
<p>{{ object.body }}</p>
<br/>
{% if comments %}
    Comments:
    <br/>
    {% for comment in comments %}
        <strong>
            {{ comment.author }} -
            {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/>
    {% endfor %}
    <br/><br/>
    <div class="pagination">
        <span class="step-links">
            {% if comments.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ comments.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
            </span>
    
            {% if comments.has_next %}
                <a href="?page={{ comments.next_page_number }}">next</a>
                <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock content %}
